*{
  box-sizing: border-box;
}

body{
  background-color: #282726;
  color: white;
  font-family: "Hanken Grotesk", Arial, sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  cursor: pointer;
}